# абсолютный MUST
.cache/
.local/
mozilla/
steam/
discord/
chromium/
chrome/
thunderbird/
nv/
pulse/
pki/
ssh/
gnupg/
npm/
node/
cargo/
var/
tmp/
Trash/

# редакторы
Code/
VSCodium/
Sublime*/ 

# системы
*.lock
*.pid
*.log
*.db
*.sqlite

# медиабиблиотеки и мусор
*.iso
*.img
*.mp4
*.mp3
*.zip
*.tar.gz
*.AppImage
*.deb

# Firefox
.mozilla/
*.sqlite*
*.bin
*.json
*.sqlite-wal
*.sqlite-shm

# Shell history
.bash_history
.zsh_history
.bash_profile
.bash_logout
# Vim
.viminfo

# Steam / Discord / кеши
.steam/
discord/
.cache/
*.log
*.node
.steampath
.steamid
wallpapers/
.pulse-cookie
.zcompdump-pupamupa-5.9
.zcompdump-pupamupa-5.9.zwc
.zsh_history
Pictures/
